@font-face {
  font-family: 'DungGeunMo';
  src: local('DungGeunMo'), url('../../public/fonts/DungGeunMo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

span{
    font-family: 'DungGeunMo', sans-serif;
}
